<robot name="arm">
	<link name="world"/>
	<link name="base_link">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0.025"/>
			<inertia ixx="0.0027" iyy="0.0027" izz="0.005" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>
			<geometry>
				<box size="1.2 0.2 0.01"/>
			</geometry> 
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0.5 0 0"/> 
		</visual>
		<collision>
			<geometry>
				<box size="1.2 0.2 0.01"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.6 0 0"/> 
		</collision>
	</link>
	<joint name="fixed" type="fixed">
		<parent link="world"/>
		<child link="base_link"/>
	</joint>
	<link name="prismatic_base_arm">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0.025"/>
			<inertia ixx="0.0027" iyy="0.0027" izz="0.005" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry> 
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0 0 0"/> 
		</visual>
		<collision>
			<geometry>
				<box size="0.01 0.01 0.01"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/> 
		</collision>
	</link>
	<joint name="bottom_prismatic_joint" type="prismatic">
		<limit velocity="1.0" effort="30.0" upper="1" lower="0"/>
		<axis xyz="1 0 0"/>
		<parent link="base_link"/>
		<child link="prismatic_base_arm"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>
	<link name="torso">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.02146" iyy="0.02146" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>		
			<geometry>
				<cylinder length="0.1" radius="0.025"/>
			</geometry>
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0 0 -0.05"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.1" radius="0.025"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 -0.05"/>
		</collision>
	</link>
	<joint name="bottom_joint" type="revolute">
		<limit velocity="1.0" effort="30.0" upper="1.571" lower="-1.571"/>
		<axis xyz="0 0 1"/>
		<parent link="prismatic_base_arm"/>
		<child link="torso"/>
		<origin rpy="0 0 1.571" xyz="0 0 0.1"/>
	</joint>
	<link name="lower_arm">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0.05"/>
			<inertia ixx="0.01396" iyy="0.01396" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>
			<geometry>
				<cylinder length="0.05" radius="0.02"/>
			</geometry>
			<material name="silver"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.1" radius="0.03"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
	</link>
	<joint name="lower_arm_joint" type="revolute">
		<axis xyz="0 0 1"/>
		<limit velocity="1.0" effort="30.0" upper="3.14159" lower="0"/>
		<parent link="torso"/>
		<child link="lower_arm"/>
		<origin rpy="1.571 0 0" xyz="0 0 0"/>
	</joint>
	<link name="arm_connect_top">	
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.02146" iyy="0.02146" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>		
			<geometry>
				<box size="0.3 0.025 0.025"/>
			</geometry>
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0.15 0 0"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.3 0.025 0.025"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.15 0 0.3"/>
		</collision>
	</link>
	<joint name="link_12_arm_connect" type="fixed">
		<parent link="lower_arm"/>
		<child link="arm_connect_top"/>
	</joint>
	<link name="upper_arm">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0.05"/>
			<inertia ixx="0.01396" iyy="0.01396" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>
			<geometry>
				<cylinder length="0.05" radius="0.02"/>
			</geometry>
			<material name="silver"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.05" radius="0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0 0 0"/>
		</collision>
	</link>
	<joint name="upper_arm_joint" type="revolute">
		<axis xyz="0 0 1"/>
		<limit velocity="1.0" effort="30.0" upper="1.571" lower="-1.571"/>
		<parent link="arm_connect_top"/>
		<child link="upper_arm"/>
		<origin rpy="0 0 0" xyz="0.3 0 0"/>
	</joint>
	<link name="arm_connect_hand">	
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.02146" iyy="0.02146" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>		
			<geometry>
				<box size="0.3 0.025 0.025"/>
			</geometry>
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0.15 0 0"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.3 0.025 0.025"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.15 0 0"/>
		</collision>
	</link>
	<joint name="hand_arm_connect_joint" type="fixed">
		<parent link="upper_arm"/>
		<child link="arm_connect_hand"/>
	</joint>
	<link name="wrist_hand">
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0.05"/>
			<inertia ixx="0.01396" iyy="0.01396" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>
			<geometry>
				<cylinder length="0.05" radius="0.02"/>
			</geometry>
			<material name="silver"/>
			<origin rpy="0 0 0" xyz="0.3 0 0"/>
		</visual>
		<collision>
			<geometry>
				<cylinder length="0.05" radius="0.02"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.3 0 0"/>
		</collision>
	</link>
	<joint name="wrist_arm_joint" type="fixed">
		<parent link="arm_connect_hand"/>
		<child link="wrist_hand"/>
	</joint>
	<link name="hand_up">	
		<inertial>
			<mass value="1.0"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.02146" iyy="0.02146" izz="0.00125" ixy="0" ixz="0" iyz="0"/>
		</inertial>	
		<visual>		
			<geometry>
				<box size="0.075 0.025 0.025"/>
			</geometry>
			<material name="silver">
				<color rgba="0.75 0.75 0.75 1"/>
			</material>
			<origin rpy="0 0 0" xyz="0.0375 0 0"/>
		</visual>
		<collision>
			<geometry>
				<box size="0.075 0.025 0.025"/>
			</geometry>
			<origin rpy="0 0 0" xyz="0.0375 0 0"/>
		</collision>
	</link>
	<joint name="joint_wrist_revolute" type="revolute">
		<axis xyz="0 0 1"/>
		<limit velocity="1.0" effort="30.0" upper="1.571" lower="-1.571"/>
		<parent link="arm_connect_hand"/>
		<child link="hand_up"/>
		<origin rpy="0 0 0" xyz="0.3 0 0"/>
	</joint>
</robot>